@import url(./__edit/popup__edit.css);
@import url(./__close/popup__close.css);
@import url(./_new/popup_new.css);

.popup {
    content: '';
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
}