@import url(./_open/pop_open.css);

.pop {
    content: '';
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
}