@import url(./__text/footer__text.css);

.footer {
    margin-top: 66px;
    margin-bottom: 60px;
    color: #545454;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 767px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
        margin-left: 19px;
    }
}
