.profile__changeImageButton {
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/*.profile__changeImageButton:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.3);
    transition: all 1s linear;
}

.profile__changeImageButton:hover:before {
    background: rgba(0,0,0,0.8);
}*/