@import url(./__close/edit__close.css);

.popup__edit {
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: auto;
    border: 0;
    position: fixed;
    padding-bottom: 37px;
    width: 430px;
    top: calc(50% - 165px);
    bottom: calc(50% - 165px);
    left: calc(50% - 215px);
    right: calc(50% - 215px);
}

@media screen and (max-width: 767px) {
    .popup__edit {
        width: 282px;
        top: calc(50% - 180px);
        bottom: calc(50% - 180px);
        left: calc(50% - 141px);
        right: calc(50% - 141px);
    }
}