.form__input_el_name { 
    top: calc(50% - 27px - 27px);
    right: calc(50% - 358px / 2);
}

@media screen and (max-width: 767px) {
    .form__input_el_name {
        right: calc(50% - 200px / 2);
    }
}