/*.profile__pencile:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.3);
    transition: all 1s linear;
}

.profile__pencile:hover:before {
    background: rgba(0,0,0,0.8);
}*/