.form__input_el_spec {
    top: calc(50% + 30px - 27px);
    right: calc(50% - 358px / 2);
}

@media screen and (max-width: 767px) {
    .form__input_el_spec {
        right: calc(50% - 200px / 2);
    }
}